# env
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Site media
data/

# Sources
src/

# End-to-end testing
e2e/cypress/*
!e2e/cypress/integration

# JS dependencies
node_modules

# logs
yarn-error.log
