# env
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Site media
data/

# Sources
src/

# End-to-end testing
e2e/cypress/screenshots
e2e/cypress/videos
e2e/edx_courses_config.json

# JS dependencies
node_modules

# logs
yarn-error.log
